
{% extends 'base.html' %}

{% block body %}

{% if user.is_authenticated %}




<div class="container" style="margin:100px;
     padding: 10;
     text-align: center">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">

                    <div class="col-sm-6 col-md-8">
                        <h1><i class="glyphicon glyphicon-user"></i>Username:    {{ user.username }}</h1>


                        <p>
                        <h2><i class="glyphicon glyphicon-star-empty"></i>First name:      {{ user.first_name }}</h2>
                            <br />
                        <h2><i class="glyphicon glyphicon-star-empty"></i>Last name:      {{ user.last_name }}</h2>
                             <br>
                            <h3><i class="glyphicon glyphicon-email"></i>Email:            {{ user.email }}</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endif %}


{% endblock %}
