{% extends 'base.html' %}
{% load static %}
 {% block body %}
<h1>Youtube is here</h1>

 <div class="row">


                    {% for url in temp %}
                      <div class="col-md-3">
                                    <div class="thumbnail">
                                      <a href="{{url.links}}">
                                        <img src="{% static 'youtube.png' %}"  style="width:100%"  >
                                        <div class="caption">
                                          <P><strong>{{url.links}}</strong></P>
                                        </div>
                                      </a>
                                    </div>
                      </div>

                    {% endfor %}







    </div>

{% endblock %}
